 <a class="resource-container" href="{{ uri }}" target="_blank">
    <div class="resource-image border">
        <img src="{{ file_url(image) }}" alt="{{ alt }}" />
    </div>
    <div class="resource-content">
        <h2>{{ title }}</h2>
        <h6>{{ uri }}</h6>
    </div>                    
</a>